head
    meta(charset="utf-8")
    meta(name="description" content="")
    meta(name="viewport" content="#{viewport}")
    title #{title}
    // 引入apple.icon
    link(rel="apple-touch-icon" href="apple-touch-icon.png")
    link(rel="stylesheet" href="bootstrap/dist/css/bootstrap.css")
    link(rel="stylesheet" href="bootstrap/dist/css/bootstrap-theme.min.css")
    link(rel="stylesheet" href="main.css")
    script(src="modernizr/modernizr.js")
    script(src="jquery/dist/jquery.min.js")
    script(src="bootstrap/dist/js/bootstrap.min.js")