footer.container.bg-default
    small.row 
        div.col-xs-6
            div 武汉昕锐云科技有限公司&reg;版权所有
            div &copy;All rights reserved! 2015-2016
        div.col-xs-6
            div 联系电话：027-34223342
            div 欢迎加入!