doctype html
html(lang="zh-CN")
    include commonHead.jade
    body
        include mainNavbar.jade
        main.content.container
            div.row
                div(style="background: url('/images/one_phone.jpg') no-repeat;background-size: 100% auto;background-attachment: fixed;padding: 150px 0;")
                    div(style="background: rgba(0,0,0,0.3);height: 400px;width: 100%;")
                        p.one.left 昕锐云，财富云      
                        p.one.right 
                            | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;财富流入成倍增长，云服务也是您的私人财务管家，力实现资金最大价值化。         
                div(style="background: url('/images/two_phone.jpg') no-repeat;background-size: 100% auto;background-attachment: fixed;padding: 150px 0;")
                    div(style="background: rgba(0,0,0,0.3);height: 400px;width: 100%;")
                        p.two.left 昕锐云，财富云      
                        p.two.right 
                            | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;财富流入成倍增长，云服务也是您的私人财务管家，力实现资金最大价值化。
                div(style="background: url('/images/three_phone.jpg') no-repeat;background-size: 100% auto;background-attachment: fixed;padding: 150px 0;")
                    div(style="background: rgba(0,0,0,0.3);height: 400px;width: 100%;")
                        p.three.left 昕锐云，财富云      
                        p.three.right 
                            | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;财富流入成倍增长，云服务也是您的私人财务管家，力实现资金最大价值化。
                div(style="background: url('/images/four_phone.jpg') no-repeat;background-size: 100% auto;background-attachment: fixed;padding: 150px 0;")
                    div(style="background: rgba(0,0,0,0.3);height: 400px;width: 100%;")
                        p.four.left 昕锐云，安全云      
                        p.four.right 
                            | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;独有的加密算法，高效、安全的存储机制，独立研发的防DOS/DDOS攻击集群，让你的系统不在有后顾之忧。选择新锐云就是选择安全。
        include footer
