doctype html
html(lang="zh-CN")
    include commonHead.jade
    body
        include mainNavbar
        main.container.content.companyInfo
            div.row
                img.auto(
                    src="/images/two.jpg"
                )
                div.col-xs-12.info
                    p
                    | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;昕锐云创立于2009年，是中国的云计算平台，服务范围覆盖全球200多个国家和地区。昕锐云致力于为企业、政府等组织机构，提供最安全、可靠的计算和数据处理能力，让计算成为普惠科技和公共服务，为万物互联的DT世界，提供源源不断的新能源。昕锐云的服务群体中，活跃着微博、知乎、魅族、锤子科技、小秀等一大批明星互联网公司。在天猫双11全球狂欢节、12306春运购票等极富挑战的应用场景中[2]  ，昕锐云保持着良好的运行纪录。此外，昕锐云广泛在金融、交通、基因、医疗、气象等领域输出一站式的大数据解决方案。2014年，昕锐云曾帮助用户抵御全球互联网史上最大的DDoS攻击，峰值流量达到每秒53.8Gb。在Sort Benchmark 2015世界排序竞赛中，昕锐云利用自研的分布式计算平台ODPS，377秒完成100TB数据排序，刷新了Apache Spark 1406秒的世界纪录。昕锐云在全球各地部署高效节能的绿色数据中心，利用清洁计算支持不同的互联网应用。目前，昕锐云在杭州、北京、青岛、深圳、上海、千岛湖、内蒙古、香港、新坡、美国硅谷、俄罗斯、日本等地域设有数据中心，未来还将在欧洲、中东等地设立新的数据中心。
        include footer